env/
db.sqlite3

snotify/**/__pycache__
snotify/*.log
snotify/*.pot
snotify/*.pyc
snotify/media

snotify-frontend/node_modules
snotify-frontend/.pnp
snotify-frontend.pnp.js
snotify-frontend/coverage
snotify-frontend/build
snotify-frontend/.DS_Store
snotify-frontend/.env.*
snotify-frontend/npm-debug.log*
snotify-frontend/yarn-debug.log*
snotify-frontend/yarn-error.log*
